
.matzip-wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    /* margin: 80px; */
    margin-left: 80px;

}
/* .container{
    flex: auto;
} */
.matimg{
    width: 500px;
}
.movies .movie{
    background-color: white;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    color: #2a2a2d;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 
    0 8px 16px -8px rgba(0,0,0,0.3), 
    0 -6px 16px -6px rgba(0,0,0,0.025);    
}

.movies .movie a{
    display: grid;
    /* grid-template-columns: minmax(150px, 1fr) 2fr; */
    grid-gap: 20px;
    text-decoration: none;
    color:inherit;
    /* margin: 0; */
}

.movie img{
    position: relative;
    top: -50px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0,0,0,0.3),
    0 -12px 36px -8px rgba(0,0,0,0.025);
}

.movie .movie__title, .movie .movie__yaer{
    margin: 0;
    font-weight: 300;
}

/* .container{
    width: 200px;
    margin-left: 100px;
} */
@media screen and (max-width:1090px){
    .matimg{
        width: 500px;
    }
    .movies .movie{
        padding: 20px;
        /* width: 500px; */
    } 
}
@media screen and (max-width: 635px) {
    .movie{
        width: 100%;
    }
    .matimg{
        width: 100%;
    }
    .movies{
        padding-top: 0;
    }
    .movies .movie{
        font-size: 15px;
    }
    .movie img{
        width: 50%;
    }
  }

/* @media screen and (max-width:600px){
    .container{
        margin-left: 0;
    }
        
} */

.urlBtn{
    margin-left: 60%;


    display: inline-block;
    /* background-color: #007bff; */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.urlBtn:hover {
    background-color: blanchedalmond;
}