.topfix{
    top: 0;
    position: fixed;
    height: 8%;
    width: 100%;
    background-color: #ffffff;
    
    padding:20px;
    /* padding-top: 35px; */

    box-shadow: 0 13px 27px -5px rgba(234, 136, 39, 0.25),
    0 8px 16px -8px rgba(235, 36, 36, 0.3),
    0 -6px 16px -6px rgba(237, 92, 92, 0.025);

    z-index: 1;

}